body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.main__header {
  background-color: #edf2ec;
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: Inika;
}
.header {
  width: 1120px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.nav__pages {
  display: flex;
  gap: 46px;
}
.nav__pages a {
  color: black;
}
.nav__pages li a:hover {
  color: #e06733;
}
.main__welcome {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #edf2ec;
  display: flex;
  justify-content: center;
}
.welcome {
  display: flex;
  justify-content: space-between;
  gap: 224px;
  max-width: 1222px;
}
.leafs__img {
  width: 449px;
  height: 407px;
}
.info__title {
  font-family: Inter;
  color: #717171;
  width: 549px;
  height: 101px;
  font-size: 42px;
  font-style: bold;
  letter-spacing: 1pt;
  line-height: 50px;
}
.info__desc {
  font-family: Inter;
  color: #636060;
  font-size: 20px;
  width: 525px;
  height: 105px;
  font-style: Regular;
}
.info__colortext {
  color: #499a18;
}
.info__more {
  border-width: 2px;
  border-color: #e06733;
  border-style: solid;
  border-radius: 10px;
  width: 158px;
  height: 44px;
  background: rgba(224, 103, 51, 0);
  line-height: 35px;
}
.info__more:hover {
  background-color: rgba(224, 103, 51, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.main__about {
  padding-top: 93px;
  padding-bottom: 94px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.about {
  display: flex;
  justify-content: space-between;
  gap: 153px;
  max-width: 1222px;
}
.about__desc {
  padding-top: 161px;
  padding-bottom: 155px;
}
.desc__title {
  font-family: Inika;
  font-style: regular;
  font-size: 40px;
  color: rgba(73, 154, 24, 1);
  line-height: 52px;
  width: 463px;
  letter-spacing: 1px;
}

.title__colortext {
  color: rgba(224, 103, 51, 1);
}
.desc__text {
  padding-top: 40px;
  font-family: Inter;
  font-size: 20px;
  width: 605px;
  height: 208px;
  color: rgba(99, 96, 96, 1);
  line-height: 30px;
  letter-spacing: 1px;
}
.houseplant_img {
  height: 650px;
}
.main__services {
  background-color: rgba(237, 242, 236, 1);
  padding-top: 40px;
  padding-bottom: 121px;
}
.services__content {
  width: 1007px;
  height: 94px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
